.page-header
  = link_to new_team_path, class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-plus
    New Team
  %h1 Listing teams

.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th Name
        %th Visibility Level
        %th
        %th
        %th

    %tbody
      - @teams.each do |team|
        %tr
          %td= show_team_path(team, teams_cache: @teams)
          %td= team.visibility_level_symbol
          %td= link_to 'Show', team.becomes(Team)
          %td= link_to 'Edit', edit_team_path(team)
          %td= link_to 'Destroy', team.becomes(Team), data: { confirm: 'Are you sure?' }, method: :delete
