-# frozen_string_literal: true
= simple_form_for([@team, @service]) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :description
    - if f.object.new_record?
      = f.association :team

  .form-actions
    = f.button :submit
