.page-header
  = link_to [@team, :services], class: 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Back
  = link_to edit_team_service_path(@team, @service), class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-pencil
    Edit
  %h1 Show service

%dl.row
  %dt.col-sm-2 Name:
  %dd.col-sm-10= @service.name
  %dt.col-sm-2 Description:
  %dd.col-sm-10= @service.description
  %dt.col-sm-2 Team:
  %dd.col-sm-10= @service.team.name
