.page-header
  = link_to incidents_path, class: 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Back
  = link_to edit_incident_path(@incident), class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-pencil
    Edit
  %h1 Show incident

%dl.row
  %dt.col-sm-2 Iid:
  %dd.col-sm-10= @incident.iid
  %dt.col-sm-2 Status:
  %dd.col-sm-10= @incident.status
  %dt.col-sm-2 Title:
  %dd.col-sm-10= @incident.title
  %dt.col-sm-2 Description:
  %dd.col-sm-10= @incident.description
  %dt.col-sm-2 Team:
  %dd.col-sm-10= @incident.team_name
  %dt.col-sm-2 Integration:
  %dd.col-sm-10= @incident.integration_name
  %dt.col-sm-2 Service:
  %dd.col-sm-10= @incident.service_name
  %dt.col-sm-2 Escalation policy:
  %dd.col-sm-10= @incident.escalation_policy_name
  %dt.col-sm-2 Priority:
  %dd.col-sm-10= @incident.priority
