.page-header
  = link_to [@service, :integrations], class: 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Back
  = link_to edit_integration_path(@integration), class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-pencil
    Edit
  %h1 Show integration

%dl.row
  %dt.col-sm-2 Name:
  %dd.col-sm-10= @integration.name
  %dt.col-sm-2 Key:
  %dd.col-sm-10= @integration.key
  %dt.col-sm-2 Type:
  %dd.col-sm-10= @integration.type
  %dt.col-sm-2 Service:
  %dd.col-sm-10= @integration.service.name
