.nested-fields
  .card.card-body.bg-light
    %fieldset
      = link_to_remove_association(f, {class: 'remove_nested_fields'}) do
        %span.btn.btn-mini.btn-danger
          %span.oi.oi-trash{title: 'Remove Rule', 'aria-hidden': true}
      = f.input :delay
      = f.input :condition_type, collection: EscalationRule.condition_types.keys
      = f.input :action_type,    collection: EscalationRule.action_types.keys
      = f.input :targetable_pair, collection: @targetables

