-# frozen_string_literal: true
= simple_form_for([@team, @escalation_policy]) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :description

    %h3 Escalation Rules
    #escalation_rules

      = f.simple_fields_for :escalation_rules do |er|
        = render 'escalation_rule_fields', f: er
      .links
        = link_to_add_association f, :escalation_rules do
          %span.btn.btn-mini.btn-info.float-right
            %span.oi.oi-plus Add Rule

  .form-actions
    = f.button :submit
