- team = @team.becomes(Team)
.page-header
  = link_to [:new, team, :escalation_policy], class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-plus
    New Escalation policy
  %h1
    Listing escalation_policies for
    %i= team.name

.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th Name
        %th Description
        %th Team
        %th
        %th
        %th

    %tbody
      - @escalation_policies.each do |escalation_policy|
        %tr
          %td= escalation_policy.name
          %td= escalation_policy.description
          %td= escalation_policy.team.name
          %td= link_to 'Show', [team, escalation_policy]
          %td= link_to 'Edit', edit_team_escalation_policy_path(team, escalation_policy)
          %td= link_to 'Destroy', team_escalation_policy_path(team, escalation_policy), data: { confirm: 'Are you sure?' }, method: :delete
