.page-header
  = link_to new_team_member_path(@team), class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-plus
    New Member
  %h1 Listing members

.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th Access level
        %th User
        %th
        %th
        %th

    %tbody
      - @members.each do |member|
        %tr
          %td= member.access_level_symbol
          %td= member.user_name
          %td= link_to 'Show', member
          %td= link_to 'Edit', edit_member_path(member)
          %td= link_to 'Destroy', member, data: { confirm: 'Are you sure?' }, method: :delete
